.card{
    display: flex;
    flex-direction: row;
    padding: 24px;
    margin-top: 2%;
}

.buttons{
    display: flex;
    gap: 14px;
}

.content{
    display: block;
    direction: column;
    flex: 1;
    gap: 4px;   
}

.card-title{
    font-size: 16px;
    font-weight: 500;
    color: #363F5F;
}